
.settings_page_apti #wpbody-content .wrap {
	background: url(../images/pattern-bg.png) no-repeat;
    background-size: 500px;
    background-position: 80% 0px;
    padding-top: 50px;
    margin-top: 1px;
}

.settings_page_apti #wpbody-content .wrap h2:nth-of-type(1) {
	margin-top: -40px;
	padding-bottom: 40px;
}

.settings_page_apti form h3:nth-of-type(1) {
	padding: 0px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.settings_page_apti h2.nav-tab-wrapper .nav-tab-general {
	margin-left: 35px;
}

.settings_page_apti .hidden {
	display: none;
}

.settings_page_apti p.description {
	margin-bottom: 10px;
}

.settings_page_apti #apti-sidebar {
	display: block;
	width: 250px;
	position: absolute;
	right: 0px;
	margin-top: 20px;
	margin-right: 20px;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 0px 15px 10px 15px;
	z-index: 999;
}
#apti-sidebar h3 {
	margin: 0px -15px 30px -15px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.settings_page_apti #apti-sidebar span {
	display: table;
	padding: 5px 10px;
}
.settings_page_apti form {
	width: calc(100% - 300px);
}

.settings_page_apti .form-table tbody {
	width: 100%;
	display: inline-table;
	margin-bottom: 5px;
}

.settings_page_apti .form-table {
	display: block;
	width: calc(100% - 2px);
	background: #fff;
	margin-top: 0px;
	border: 1px solid #e5e5e5;
	border-top: none;
	padding-bottom: 10px;
	overflow: hidden;
}
.settings_page_apti .form-table:nth-of-type(1) {
	display: table !important;
	width: 100%;
}

.settings_page_apti h3 {
	margin: 20px 0 0 0;
	padding: 10px;
	background: #fff;
	border: 1px solid #e5e5e5;
}

.settings_page_apti tr {
	margin: 0px 0;
	width: 100%;
	display: inline-table;
}
.settings_page_apti tr td {
	padding: 0px 0px 5px 5px;
	font-size: 13px;
	vertical-align: top;
	margin-left: 0px;
}
.settings_page_apti tbody tr:first-child {
	margin-top: 0px;
}
.settings_page_apti tbody tr:last-child {
	margin-bottom: 21px;
}
.settings_page_apti tbody tr td:last-child {
	margin-bottom: 20px;
}
.settings_page_apti th {
	text-transform: capitalize;
	font-size: 13px;
	padding: 20px 10px 10px 15px;
	width: 160px;
	max-height: 16px !important;
	overflow: visible;
}
.settings_page_apti th:empty {
	height: 0px;
	padding: 0px 10px 0px 15px;
}

.settings_page_apti th + td {
	padding-top: 20px;
}
.settings_page_apti th:empty + td {
	padding-top: 0px;
}

.settings_page_apti .form-table tr th,
.settings_page_apti .form-table tr td {
	padding-bottom: 0px !important;
}

.settings_page_apti .form-table tr:nth-of-type(2n+0) th,
.settings_page_apti .form-table tr:nth-of-type(2n+0) td {
	padding-top: 0px !important;
}
.settings_page_apti .form-table tr:nth-of-type(odd) th,
.settings_page_apti .form-table tr:nth-of-type(odd) td {
	padding-top: 30px !important;
}

.settings_page_apti label {
	color: #B2B2B2;
}

.settings_page_apti input[type=checkbox]:checked + label {
	color: #444;
}

/* Show/Hide textareas based on checkbox values */

.settings_page_apti textarea {
	width: calc(100% - 20px); 
	padding: 10px; 
	margin:8px 0px 0 0px;
	resize: none;
    overflow: hidden;
    height: 100%;
	position: absolute;
    top: 0;
    left: 0;
}

.settings_page_apti .textarea {
    padding: 10px; 
    margin: 0px 0px 15px;
    position: relative;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #fff;
    padding-bottom: 20px;
}


.settings_page_apti img.apti-banner {
	border-radius: 15px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
		    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
}



.settings_page_apti .switch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.settings_page_apti .switch-checkbox {
    display: none;
}
.settings_page_apti .switch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
}
.settings_page_apti .switch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.settings_page_apti .switch-inner:before, 
.settings_page_apti .switch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.settings_page_apti .switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #1E8CBE; color: #FFFFFF;
}
.settings_page_apti .switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.settings_page_apti .switch-switch {
    display: block; width: 14px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border: 1px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.settings_page_apti .switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
.settings_page_apti .switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px; 
}


@media screen and (max-width: 1100px) {

	.settings_page_apti textarea {
		width: calc(100% + 150px); 
		padding: 10px; 
		margin:8px 0px 0 -170px;
	}

}

@media screen and (max-width: 782px) {
	.settings_page_apti #apti-sidebar {
		display: none;
	}
	.settings_page_apti form {
		width: 100%;
	}
	.settings_page_apti .form-table {
		width: 100%;
	}
	.settings_page_apti th {
		width: 100% !important;
		display: block;
		position: relative;
	}
	.settings_page_apti #toggle {
		margin: -10px 0px 0px -26px;
		font-size: 12px;
		width: calc(100% - 34px);
	}
	.settings_page_apti tr {
		display: block;
	}
	.settings_page_apti tr td {	
		margin: 0px 0 0px 0;
		display: inline-block;
		width: 100%;
	}
	.settings_page_apti tr td:last-child {
		margin-bottom: 0px !important;
	}
	.settings_page_apti th + td {
		padding: 5px 10px 5px 25px;
	}
	.settings_page_apti th:empty + td {
		padding: 5px 10px 5px 25px;
	}


	.settings_page_apti .form-table td textarea {
		width: calc(100% - 50px);
		padding: 10px; 
		margin:8px 20px 0 0px;
	}
}

