
.settings_page_apti textarea {
	width: 95%; 
	padding: 10px; 
	display: block; 
	margin:8px 0;
}

.settings_page_apti p.description {
	margin-bottom: 10px;
}
.settings_page_apti p.editordescription  {
	font-size: 14px;
	font-style: italic;
	color: #cc6666;
}

.settings_page_apti .form-table tr th,
.settings_page_apti .form-table tr td {
	padding-bottom: 0px !important;
}

.settings_page_apti .form-table tr:nth-of-type(2n+0) th,
.settings_page_apti .form-table tr:nth-of-type(2n+0) td {
	padding-top: 0px !important;
}


