
.settings_page_apti p.description {
	margin-bottom: 10px;
}
.settings_page_apti p.editordescription  {
	font-size: 14px;
	font-style: italic;
	color: #cc6666;
}

.settings_page_apti .form-table tr th,
.settings_page_apti .form-table tr td {
	padding-bottom: 0px !important;
}

.settings_page_apti .form-table tr:nth-of-type(2n+0) th,
.settings_page_apti .form-table tr:nth-of-type(2n+0) td {
	padding-top: 0px !important;
}

/* Show/Hide textareas based on checkbox values */

.settings_page_apti textarea {
	width: 95%; 
	padding: 10px; 
	margin:8px 0px 0px;
	resize:none;
    overflow:hidden;
    height:100%;
}

#editor {
    padding: 10px; 
    margin:0px 0px 15px;
    position:relative;
    width:auto;
    height:auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.settings_page_apti textarea#editor_input {
	position:absolute;
    top:0;
    left:0;
}


