
p.apti-text {
	font-style: italic; 
	padding: 2px 6px 2px 25px !important;
	font-size: 12px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: url('../images/info.gif') 5px center no-repeat #F0FAFF;
}
#commentsdiv p.apti-text,
#submitdiv p.apti-text {
	margin: 1em 12px !important;
}

#apti-above-title,
#apti-below-title {
	font-style: italic !important;
	font-size: 13px;
	padding: 3px 8px 3px 25px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: url('../images/info.gif') 6px center no-repeat #F0FAFF;
}
#apti-above-title {
	margin: 10px 0;
}

#edit-slug-box {
    min-height: 0px !important;
}
