
.settings_page_apti #wpbody-content .wrap {
	background: url(../images/pattern-bg.png) no-repeat;
    background-size: 500px;
    background-position: 80% 0px;
    padding-top: 50px;
    margin-top: 1px;
}

.settings_page_apti #wpbody-content .wrap h2:nth-of-type(1) {
	margin-top: -40px;
	padding-bottom: 40px;
}

.settings_page_apti form h3:nth-of-type(1) {
	padding: 0px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.settings_page_apti .hidden {
	display: none;
}

.settings_page_apti p.description {
	margin-bottom: 10px;
}

.settings_page_apti form {
	width: calc(100% - 2px);
}

.settings_page_apti .form-table tbody {
	width: 100%;
	display: inline-table;
	margin-bottom: 5px;
}

.settings_page_apti .form-table {
	display: block;
	width: calc(100% - 2px);
	background: #fff;
	margin-top: 0px;
	border: 1px solid #e5e5e5;
	border-top: none;
	padding-bottom: 10px;
	overflow: hidden;
}
.settings_page_apti .form-table:nth-of-type(1) {
	display: table !important;
	width: 100%;
}

.settings_page_apti h3 {
	margin: 20px 0 0 0;
	padding: 10px;
	background: #fff;
	border: 1px solid #e5e5e5;
}

.settings_page_apti tr {
	margin: 0px 0;
	width: 100%;
	display: inline-table;
}
.settings_page_apti tr td {
	padding: 0px 0px 5px 5px;
	font-size: 13px;
	vertical-align: top;
	margin-left: 0px;
}
.settings_page_apti tbody tr:first-child {
	margin-top: 0px;
}
.settings_page_apti tbody tr:last-child {
	margin-bottom: 21px;
}
.settings_page_apti tbody tr td:last-child {
	margin-bottom: 20px;
}
.settings_page_apti th {
	text-transform: capitalize;
	font-size: 13px;
	padding: 20px 10px 10px 15px;
	width: 160px;
	max-height: 16px !important;
	overflow: visible;
}
.settings_page_apti th:empty {
	height: 0px;
	padding: 0px 10px 0px 15px;
}

.settings_page_apti th + td {
	padding-top: 20px;
}
.settings_page_apti th:empty + td {
	padding-top: 0px;
}

.settings_page_apti .form-table tr th,
.settings_page_apti .form-table tr td {
	padding-bottom: 0px !important;
}

.settings_page_apti .form-table tr:nth-of-type(2n+0) th,
.settings_page_apti .form-table tr:nth-of-type(2n+0) td {
	padding-top: 0px !important;
}
.settings_page_apti .form-table tr:nth-of-type(odd) th,
.settings_page_apti .form-table tr:nth-of-type(odd) td {
	padding-top: 30px !important;
}

.settings_page_apti label {
	color: #B2B2B2;
}

.settings_page_apti input[type=checkbox]:checked + label {
	color: #444;
}

/* Show/Hide textareas based on checkbox values */

.settings_page_apti textarea {
	width: calc(100% - 20px); 
	padding: 10px; 
	margin:8px 0px 0 0;
}
.settings_page_apti .wp-editor-wrap {
	margin: 8px 20px 8px 0;
}

.settings_page_apti #top,
.settings_page_apti #slug,
.settings_page_apti #instruction,
.settings_page_apti #publish,
.settings_page_apti #author,
.settings_page_apti #thumbnail,
.settings_page_apti #excerpt,
.settings_page_apti #trackbacks,
.settings_page_apti #customfields,
.settings_page_apti #comments,
.settings_page_apti #discussion,
.settings_page_apti #revisions,
.settings_page_apti #pageattributes,
.settings_page_apti #categories,
.settings_page_apti #tags,
.settings_page_apti #postformats {
    padding: 10px; 
    margin:0px 0px 15px;
    position:relative;
    height:auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.settings_page_apti textarea#top_input,
.settings_page_apti textarea#slug_input,
.settings_page_apti textarea#instruction_input,
.settings_page_apti textarea#publish_input,
.settings_page_apti textarea#author_input,
.settings_page_apti textarea#thumbnail_input,
.settings_page_apti textarea#excerpt_input,
.settings_page_apti textarea#trackbacks_input,
.settings_page_apti textarea#customfields_input,
.settings_page_apti textarea#comments_input,
.settings_page_apti textarea#discussion_input,
.settings_page_apti textarea#revisions_input,
.settings_page_apti textarea#pageattributes_input,
.settings_page_apti textarea#categories_input,
.settings_page_apti textarea#tags_input,
.settings_page_apti textarea#postformats_input {
	resize:none;
    overflow:hidden;
    height:100%;
	position:absolute;
    top:0;
    left:0;
}



.settings_page_apti .switch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.settings_page_apti .switch-checkbox {
    display: none;
}
.settings_page_apti .switch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
}
.settings_page_apti .switch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.settings_page_apti .switch-inner:before, 
.settings_page_apti .switch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.settings_page_apti .switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #1E8CBE; color: #FFFFFF;
}
.settings_page_apti .switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.settings_page_apti .switch-switch {
    display: block; width: 14px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border: 1px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.settings_page_apti .switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
.settings_page_apti .switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px; 
}

