
p.apti-text {
	font-style: italic; 
	padding: 2px 2px 2px 25px !important;
	font-size: 12px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: url('../images/info.gif') 5px center no-repeat #FFFFE6;
}
#commentsdiv p.apti-text {
	margin: 1em 12px !important;
}

#apti-below-title {
	font-style: italic !important;
	font-size: 14px;
	padding: 3px 2px 3px 25px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: url('../images/info.gif') 6px center no-repeat #FFFFE8;
}

#edit-slug-box {
    min-height: 0px !important;
}
